.App {
  text-align: center;
}

.navbar {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  left: 0;
  right: 0;
}

.row{
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.backdropStyle {
  position: fixed;
  top:0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: rgba(0,0,0,0.5);
  padding: 50;
}

.builderModal {
  position: fixed;
  top:25%;
  bottom: 30%;
  left: 25%;
  right: 25%;
  padding: 5%, 5%, 5%, 5%;
  background-color: aliceblue;
  padding: 50;
  text-align: center;
  overflow-y: auto;
}
.modalTitle{
  text-align: center;
  text-decoration: underline;
}

.builderModalStyle {
  background-color:'#fff';
  border-radius: 5;
  min-height:300;
  margin: '0 auto';
  padding:'30';
  position:"relative";
}

.modalTitle{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.builderModalFooter {
  position: 'absolute';
  bottom: 5
}


.space-img {
  height:200px;
}

.card{
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: aliceblue
}

.jumbotron {
  background-image: url("https://blenderartists.org/uploads/default/original/4X/7/e/2/7e2d7bea4ac21388c4a96e1371f375c4ce00094b.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: aliceblue;
}

.container{
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
  
body {
  background-image: url("https://cdn.designbyhumans.com/file/module/store/938/75938/hero/4834630.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  top: 0;
  bottom: 0;
}

.btn-gray {
  background-color: #5eacd3
}

.btn-light {
  background-color: #4c647c;
  color: aliceblue
}


.navbar-dark{
  background-color: #4c647c
}

.list {
  text-align: left;
}

.listTitle {
  font-weight: bold;
}

.endModalBtn {
  position: absolute;
  right:    5%;
  bottom:   5%;
}